captum
fire
transformers
datasets
lime
wandb
seaborn
krippendorff
wget
gensim
mecab-python3
unidic
openpyxl
fugashi
unidic-lite
japanize_matplotlib
Flask
Flask-Cors
Flask-Migrate
Flask-RESTful
Flask-Script
Flask-SQLAlchemy
fastapi
uvicorn
hdbscan
python-Levenshtein
